<h3>Таблица действий</h3>
<table>
  <tr>
    <th>Шаг</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>Введенное число</td>
    <td><%=@result_table[0] %></td>
  </tr>
  <tr>
    <td>Число в двоичном виде</td>
    <td><%=@result_table[1] %></td>
  </tr>
  <tr>
    <td>Реверс числа в двоичном виде</td>
    <td><%=@result_table[2]%></td>
  </tr>
  <tr>
    <td>Реверс числа в десятичном виде</td>
    <td><%=@result_table[3] %></td>
  </tr>
</table>
<%= link_to "Repeat translation", :translate_input %>
<%= link_to "To userlist", users_index_path %>
<%= link_to "Log out", sessions_exit_path %>
