<h3>You are now viewing page, that is located in app/views</h3>
<%= form_tag("/num_finder/output", :method => "get") do %>
  <%= label_tag("Enter the number for convertation:") %>
  <%= number_field_tag(:ch, nil, min: 0, step: 1)%> <br/>
  <%= submit_tag("Convert") %>
<% end %>
<%= link_to "JSON", num_finder_json_path %><br>
<%= link_to "XML", num_finder_xml_path %>
